<form action="{% url 'chat:add_message' %}" method="post">
    {% csrf_token %}
    User name: <input name="Username"><br>
    Email: <input name="Email"><br>
    Comment text: <input name="Text" size="100px">
    <input type="submit" value="Add message">
</form>
{% if object_list %}
{% for message in object_list %}
<h3>{{message.author}}</h3>
<h4>{{message.text}}</h4>
<h6>Was published: {{message.pub_date}}</h6>
------------------------------------------------------------------------
{% endfor %}
{% endif %}